@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'History Pro';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/History_Pro.woff2') format('woff2');
}

@font-face {
  font-family: 'Navigo';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url('/fonts/Navigo-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url('/fonts/Spectral-LightItalic.woff2') format('woff2');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Navigo', sans-serif;
}
